.app {
  max-width: 350px;
  padding: 28px;
  margin: 0 auto;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgba($color-background, 25%);

  &__headline {
    font-size: 20px;
    margin-bottom: 12px;
  }

  &__description {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  &__output {
    font-family: monospace;
    padding: 12px;
    font-size: 11px;
    line-height: 13px;
    background: $color-grey;
    margin: 40px 0;
    white-space: pre-line;
    border: 2px solid black;
    border-radius: 9px;
  }

  &__link {
    text-decoration: underline;
    color: inherit;

    &:visited {
      color: inherit;
    }
  }
}
